## Data Type (23-33)

In [8]:
# 24. Convert value to string
value = 10
conv = str(value)
print(conv)
print('# 24 =', type(conv))

10
# 24 = <class 'str'>

In [9]:
# 25. Convert string to integer
value = "10"
conv = int(value)
print(conv)
print('# 25 =', type(conv))

10
# 25 = <class 'int'>

In [10]:
# 26 Convert value to floating-point number
value = 10
conv = float(value)
print(conv)
print('# 26 =', type(conv))

10.0
# 26 = <class 'float'>

In [11]:
# 27 Convert value to list
value = "Hello!"
conv = list(value)
print(conv)
print('# 27 =', type(conv))

['H', 'e', 'l', 'l', 'o', '!']
# 27 = <class 'list'>

In [13]:
# 28 Convert value to tuple
value = [1, 2, 3, 10, 20, 30]
conv = tuple(value)
print(conv)
print('# 28 =', type(conv))

(1, 2, 3, 10, 20, 30)
# 28 = <class 'tuple'>

In [14]:
# 29 Convert value to frozen set
value = [1, 2, 3, 10, 20, 30]
conv = frozenset(value)
print(conv)
print('# 29 =', type(conv))

frozenset({1, 2, 3, 10, 20, 30})
# 29 = <class 'frozenset'>

In [15]:
# 30 Convert value to binary
value = 10
conv = bin(value)
print('# 30 =', conv)

# 30 = 0b1010

In [16]:
# 31 Convert value to hexadecimal
value = 10
conv = hex(value)
print('# 31 =', conv)

# 31 = 0xa

In [17]:
# 32 Convert value from binary to decimal
value = '0b1010'
conv = int(value, 2)
print('# 32 =', conv)

# 32 = 10

In [18]:
# 33 Convert from hexadecimal to decimal
value = '0xa'
conv = int(value, 16)
print('# 33 =', conv)

# 33 = 10