## Loops (59-83)

In [1]:
x = [10, 12, 13, 14, 17, 19, 21, 22, 25]

In [6]:
# 59. Iterate x list and print each element
print("Exercise # 59")
for i in x:
  print (i, end = " ")

Exercise # 59
10 12 13 14 17 19 21 22 25

In [7]:
# 60. Iterate x list and print remainder of each element/3
print("Exercise # 60")
for i in x:
    print(i % 3, end = " ")

Exercise # 60
1 0 1 2 2 1 0 1 1

In [8]:
# 61.  
print("Exercise # 61")
for i in sorted(x, reverse = True):
    print(i * 10, end = " ")

Exercise # 61
250 220 210 190 170 140 130 120 100

In [10]:
# 62.
print("Exercise # 62")
for i in x:
    print(i / 2, end = " ")
print("\nGreat job!")

Exercise # 62
5.0 6.0 6.5 7.0 8.5 9.5 10.5 11.0 12.5
Great job!

In [11]:
#63. 
print("Exercise # 63")
for i in x:
    print(x.index(i), end = " ")

Exercise # 63
0 1 2 3 4 5 6 7 8

In [12]:
#64. Print x^2 while x<= 5
x = 0
print("Exercise # 64")
while x <= 5:
    print (x**2, end = " ")
    x = x + 1

Exercise # 64
0 1 4 9 16 25

In [13]:
# 65.
print("Exercise # 65")
x = 0
while x <= 4:
    print(x * 10, end = " ")
    x = x + 1
print("\nDone!")

Exercise # 65
0 10 20 30 40
Done!

In [14]:
# 66.
print("Exercise # 66")
x = 10
while x <= 15 and x % 5 == 0:
    print(x + 10, end = " ")
    x = x +1

Exercise # 66
20

In [15]:
# 67.
print("Exercise # 67")
x = -7
while x < 0:
    print(abs(x), end = " " )
    x = x + 1

Exercise # 67
7 6 5 4 3 2 1

In [16]:
# 68.
print("Exercise # 68")
x = 5
y = 2
while x >= 5 and x < 10:
    print(x * y, end = " " )
    x = x + 1
else:
    print(x / y)

Exercise # 68
10 12 14 16 18 5.0

In [17]:
# 69.
print("Exercise # 69")
x = [10, 12, 13, 14, 17, 19, 21, 22, 25]
for i in x:
    if i > 20:
        print(i * 10, end = " " )

Exercise # 69
210 220 250

In [18]:
70.
print("Exercise # 70")
x = [2, 4, 6]
y = [5, 10]
for i in x:
    for j in y:
        print(i * j, end = " ")

Exercise # 70
10 20 20 40 30 60

In [19]:
# 71.
print("Exercise # 71")
x = [2, 4, 6, 8]
y = [5, 10, 15, 20 ]
for i in x:
    for j in y:
        print(i * j, end = " ")

Exercise # 71
10 20 30 40 20 40 60 80 30 60 90 120 40 80 120 160

In [20]:
# 72.
print("Exercise # 72")
x = [2, 4, 6, 8]
y = [5, 10, 15, 20]
for i in x:
    for j in y:
        if i > 5 and j < 12:
            print (i * j, end = " ")

Exercise # 72
30 60 40 80

In [31]:
# 73.
print("Exercise # 73")
x = [2, 4, 6, 8]
y = [5, 10, 15, 20]
for i in x:
    for j in y:
        if j <= 10:
            print("\"j<=10\" ->", i * j, end = " ")
        else:
            if j > 10:
                print("\n\"j>10\" ->", i * j**2, end = " ")

Exercise # 73
"j<=10" -> 10 "j<=10" -> 20
"j>10" -> 450
"j>10" -> 800 "j<=10" -> 20 "j<=10" -> 40
"j>10" -> 900
"j>10" -> 1600 "j<=10" -> 30 "j<=10" -> 60
"j>10" -> 1350
"j>10" -> 2400 "j<=10" -> 40 "j<=10" -> 80
"j>10" -> 1800
"j>10" -> 3200

In [33]:
# 74.
print("Exercise # 74")
x = "cryptocurrency"
y = "blockchain"
for i in x:
    if i in y:
        print(i * 2, end='; ')

Exercise # 74
cc; oo; cc; nn; cc;

In [34]:
# 75.
print("Exercise # 75")
my_range = range(9)
for i in my_range:
    if 3 <= i <= 7:
        print(i * my_range[1], end = " ")

Exercise # 75
3 4 5 6 7

In [63]:
# 76.
print("Exercise # 76")
print("Range:", list(range(1, 11, 2)))
for i in range(1, 11, 2):
    if 3 <= i <= 8:
        print("For \'i\' =", i, end = ' >>> ')
        print(i * range(1, 11, 2)[-1], end = "; ")
    else: 
        print("\nOutside of range[3-8]!\n")

Exercise # 76
Range: [1, 3, 5, 7, 9]

 Outside of range[3-8]!

For 'i' = 3 >>> 27; For 'i' = 5 >>> 45; For 'i' = 7 >>> 63;
 Outside of range[3-8]!

In [68]:
# 77.
print("Exercise # 77")
print("Range:", list(range(5, 25, 5)))
for i in range(5, 25, 5):
    if 10 <= i <= 21:
        print("For \'i\' =", i, end = ' >>> ')
        print( i * range(5, 25, 5)[-2], end = "; ")
    else:
        print("Outside of range[5-25]!")
print("\nThe End!")

Exercise # 77
Range: [5, 10, 15, 20]
Outside of range[5-25]!
For 'i' = 10 >>> 150; For 'i' = 15 >>> 225; For 'i' = 20 >>> 300;
The End!

In [73]:
# 78.
print("Exercise # 78")
x = 5
while x <= 11:
    if x == 10:
        print("x is 10!")
        x = x + 1
    else: 
        print (x * 11, end = ", ")
        x = x + 1

Exercise # 78
55, 66, 77, 88, 99, x is 10!
121,

In [77]:
# 79. Insert break
print("Exercise # 79")
x = [1,2]
y = [10, 100]
for i in x:  
    for j in y:
        if i % 2 == 0:
            print(i * j)
            break

Exercise # 79
20

In [84]:
# 80. Insert break
print("Exercise # 80")
x = [1,2]
y = [10, 100]
for i in x:  
    for j in y:
        if i % 2 == 0:
            print(i * j)
            break
        print("i =",i)
    print("j =",j,end = " ")

Exercise # 80
i = 1
i = 1
j = 100 20
j = 10

In [87]:
# 81. Insert break to get 1, 1, 100, 10
print("Exercise # 81")
x = [1,2]
y = [10, 100]
for i in x:  
    for j in y:
        if i % 2 == 0:
            break    
            print(i * j)
        print("i = ",i)
    print("j = ", j, end = " ")

Exercise # 81
i =  1
i =  1
j =  100 j =  10

In [95]:
# 82. Insert continue to get 1, 1, 100, 20, 200
print("Exercise # 82")
x = [1,2]
y = [10, 100]
for i in x:  
    for j in y:
        if i % 2 == 0:     
            print(i * j)
            continue
        print("i =", i)
    print("j =", j)

Exercise # 82
i = 1
i = 1
j = 100
20
200
j = 100

In [100]:
# 83. Insert continue tp get 1,1,100, 100
print("Exercise # 83")
x = [1,2]
y = [10, 100]
for i in x:  
    for j in y:
        if i % 2 == 0:
            continue
            print(i * j)
        print("i = ",i)
    print("j = ", j)

Exercise # 83
i =  1
i =  1
j =  100
j =  100