In [1]:
# 24. Convert value to string
value = 10
conv = str(value)
print('# 24 =', type(conv))

# 24 = <class 'str'>

In [2]:
# 25. Convert print(type(conv))string to integer
value = "10"
conv = int(value)
print('# 25 =', type(conv))

# 25 = <class 'int'>

In [3]:
# 26 Convert value to floating-point number
value = 10
conv = float(value)
print('# 26 =', type(conv))

# 26 = <class 'float'>

In [4]:
# 27 Convert value to list
value = "Hello!"
conv = list(value)
print('# 27 =', type(conv))

# 27 = <class 'list'>

In [5]:
# 28 Convert value to tuple
value = [1, 2, 3, 10, 20, 30]
conv = tuple(value)
print('# 28 =', type(conv))

# 28 = <class 'tuple'>

In [6]:
# 29 Convert value to frozen set
value = [1, 2, 3, 10, 20, 30]
conv = frozenset(value)
print('# 29 =', type(conv))

# 29 = <class 'frozenset'>

In [7]:
# 30 Convert value to binary
value = 10
conv = bin(value)
print('# 30 =', conv)

# 30 = 0b1010

In [8]:
# 31 Convert value to hexadecimal
value = 10
conv = hex(value)
print('# 31 =', conv)

# 31 = 0xa

In [9]:
# 32 Convert value from binary to decimal
value = '0b1010'
conv = int(value, 2)
print('# 32 =', conv)

# 32 = 10

In [10]:
# 33 Convert from hexadecimal to decimal
value = '0xa'
conv = int(value, 16)
print('# 33 =', conv)

# 33 = 10